    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ParaCasa</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/paracasa/restaurants">Restaurants</a>
            </li>
            <li>
              <a href="/paracasa/menus">Menus</a>
            </li>
            <li>
              <a href="/paracasa/customers">Customers</a>
            </li>
            <li>
              <a href="/paracasa/orders">Orders</a>
            </li>
          </ul>
 
        </div>
      </div>
    </div>