<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Edit menu</title> 
    <div th:insert="fragments/header"></div>
</head>
<body>
    <div th:insert="fragments/navbar"></div>
    <div class="container" style="margin-top: 80px;">
    <h1 th:text="'Edit Order ID:'+${customer_Menu.orderid}" />
    <h2 th:text="'Customer: '+${customer_Menu.customer}" />
    <table class="table">
        <thead>
            <th>Menus in this order</th>
            <th>Quantity</th>
            <th></th>
        </thead>
    <tr th:each="menuinorder: ${menusinorder}"> 
        <td th:text="${menuinorder.menu}" />
        <td th:text="${menuinorder.quantity}" />   
        <td><form th:name="${menuinorder.id}" th:action="@{'/paracasa/orderinmenu/del/' + ${menuinorder.id}}" th:method="delete"><input class="btn btn-danger" type="submit" value="delete" /></form></span></td>
    </table>  
  </form>
  <form action="#" 
  th:action="@{/paracasa/orders/}" 
  method="post">
  <div class="form-group">
    <label for="menuid">Add extra menus</label>
    <select class="form-control" name="menuid" id="menuid" placeholder="Menu">
        <option th:each="menu: ${menus}" th:value="${menu.id}" th:text="${menu.name}"></option>
    </select>
</div>
<div class="form-group">
    <label for="quantity">Quantity</label>
    <input class="form-control" type="text" name="quantity" id="quantity" placeholder="Title">
</div>
<input type="hidden" name="customerid" th:value="${customer_Menu.customerid}" />
<input type="hidden" name="orderid" th:value="${customer_Menu.orderid}" />
<input type="submit" class="btn btn-primary" value="Add Menu to Order"> 

    
  </form>
</body>
</html>