<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>List of orders</title> 
    <div th:insert="fragments/header"></div>
</head>
<body>
    <div th:insert="fragments/navbar"></div>
    <div class="container" style="margin-top: 80px;">
    <h1 th:text="'Listado de pedidos'" />

    <table class="table">
    <thead>
        <th>Id</th>
        <th>Customer</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tr th:each="order: ${orders}">
        <td th:text="${order.orderid}" />
        <td th:text="${order.customer}" />
        <td th:text="${order.menu}" />
        <td><a class="btn btn-info" th:href="@{'/api/orders/' + ${order.id} + '/edit'}">Show/add menus</a></td>
        <td><form th:name="${order.id}" th:action="@{'/api/order/del/' + ${order.id}}" th:method="delete"><input class="btn btn-danger" type="submit" value="delete" /></form></span></td>
    </tr>
    
</table>
<a th:href="@{'/api/orders/add'}"><input type="button" class="btn btn-primary" value="Add Order" /></a>
</div>
</body>
</html>